@import 'normalize','settings','variables';

body {
    background: linear-gradient(150.03deg, #FFFFFF 0%, #FFF4F4 84.51%);
    font-family: 'Josefin Sans', sans-serif;
    font-size:1.6rem;
    text-align: center;
}

.main {
    @include flexCenter(column);
    max-width: 37.5rem;
    margin: auto;
}

.header-mobile {
    text-align: left;
    padding:3.2rem;
    max-width: 37.5rem;
    margin: auto;
}

.header-desktop {
    display: none;
}

.site-logo {
    width:100px;
}

.content {
    padding:6.4rem 3.2rem 9.2rem;

    &__heading {
        font-size:4rem;
        font-weight: 600;
        line-height: 4.2rem;
        text-transform:uppercase;
        color:$color-heading-dark;
        letter-spacing:10.83px;
        margin-bottom:1.6rem;
    }

    &__heading--soft {
        color:$color-heading-light;
        font-weight:300;
    }

    &__paragraph {
        color:$color-text-main;
        line-height: 2.2rem;
        font-weight:400;
        font-size: 1.4rem;
        margin-bottom:3.2rem;
    }

    &__form-submit {
        margin:auto;
        position: relative;
    }
}

input {
    background:transparent;
    outline:1px solid #CE9898;
    border-radius:2.8rem;
    border:none;
    padding:1.1rem 2.4rem 0.9rem;
    width:100%;
    line-height: 2.8rem;
    font-size: 1.4rem;
    color:#423A3A;
}

input:focus {
    background:transparent;
}

input::placeholder {
    color:$color-text-main;
    font-size:1.4rem;
    font-weight: 400;
    line-height: 2.8rem;
}

#submit-button {
    background: linear-gradient(135deg, #F8BFBF 0%, #EE8B8B 100%);
    box-shadow: 0px 15px 20px rgba(198, 110, 110, 0.247569);
    border-radius: 28px;
    border:none;
    width:6.4rem;
    height:4.8rem;
    position:absolute;
    top:0;
    right:-2px;
}

#submit-button:hover {
    cursor: pointer;
    background: #f4cece;
    box-shadow: 0px 15px 20px rgba(198, 110, 110, 0.247569);
};

.email-error {
    transition: opacity 0.5s;
    opacity:0;
    width: 100%;
    margin-top: 0.8rem;
    text-align: left;
    padding-left: 2.4rem;
    color:$background-body;
    font-size:1.3rem;
    line-height: 1.3rem;
}

.error-icon {
    position:absolute;
    right: 74px;
    top: 12px;
    transition: opacity 0.5s;
    opacity:0;
}

#submit-button > img {
    margin-top:2px;
    margin-left:5px;
}

@media screen and (min-width:1440px) {
    body {
        @include flexCenter(column);
        min-height:100vh;
    }

    .header-mobile {
        display:none;
    }

    .header-desktop {
        display:block;
        margin-bottom:13.6rem;
    }

    .site-logo {
        width: 158px;
    }

    .main {
        @include flexCenter(row);
        flex-direction: row-reverse;
        align-items: flex-start;
        background:url(../images/bg-pattern-desktop.svg) no-repeat;

        max-width:144rem;
    }

    .image {
        width:61rem;
    }

    .content {
        width:83rem;
        text-align: left;
        padding:7.4rem 22rem 0 16.5rem;

        &__heading {
            font-size:6.4rem;
            line-height: 7.1rem;
            margin-bottom:3.2rem;
        }

        &__paragraph {
            font-size:1.6rem;
            line-height: 2.8rem;
            margin-bottom:4rem;
        }

        &__form-submit {
            margin:0;
        }
    }

    #submit-button {
        width: 100px;
        height: 58px;
        top:-1px;
    }

    input {
        font-size: 1.6rem;
        line-height: 2.8rem;
        padding:1.5rem 22.8rem 1.3rem  3.2rem;
    }

    .error-icon {
        right: 115px;
        top: 15px;
    }

    .email-error {
        line-height: 2.8rem;
        padding-left: 3.2rem;
    }

}

.error-message-visible {
    transition: opacity 0.5s;
    opacity:1;
}

.input-error-outline {
    outline: 2px solid #F96464;
    transition: opacity 0.5s;
    opacity:1;
}

.error-icon-visible {
    transition: opacity 0.5s;
    opacity:1;
}